<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <containers>
      <container>
         <extensionConfig>
          <add name="extensionOne" type="Microsoft.Practices.Unity.Tests.TestDoubles.ConfigElementOne, Tests.Unity"
               text="Extension One" />
          <add name="extensionTwo" type="Microsoft.Practices.Unity.Tests.TestDoubles.ConfigElementTwo, Tests.Unity"
               message="Extension Two" />
        </extensionConfig>
      </container>
    </containers>
  </unity>
</configuration>
