<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="session" type="Microsoft.Practices.Unity.Tests.TestDoubles.SessionLifetimeManager, Tests.Unity" />
      <typeAlias alias="ILogger" type="Microsoft.Practices.Unity.Tests.TestObjects.ILogger, Tests.Unity" />
      <typeAlias alias="MockLogger" type="Microsoft.Practices.Unity.Tests.TestObjects.MockLogger, Tests.Unity" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="ILogger"
                mapTo="Microsoft.Practices.Unity.Tests.TestObjects.SpecialLogger, Tests.Unity">
            <lifetime type="singleton" />
          </type>
          <type type="ILogger" mapTo="MockLogger" name="mock">
            <lifetime type="external" />
          </type>
          <type type="ILogger" mapTo="MockLogger" name="session">
            <lifetime type="Microsoft.Practices.Unity.Tests.TestDoubles.SessionLifetimeManager, Tests.Unity"
                      value="sessionKey" />
          </type>
          <type type="ILogger" mapTo="MockLogger" name="reverseSession">
            <lifetime type="session" value="backwards" typeConverter="Microsoft.Practices.Unity.Tests.TestDoubles.ReversedSessionKeyTypeConverter, Tests.Unity" />
          </type>

          <type type="ILogger" mapTo="MockLogger" name="transient"/>

          <type type="ILogger" mapTo="MockLogger" name="explicitTransient">
            <lifetime type="" />
          </type>
          
        </types>

      </container>
    </containers>
  </unity>
</configuration>
